{
  "f5": {
    "hostname": "192.168.0.1",
    "username": "admin",
    "passwd": "password"
  },
  "webservice": {
    "address": "127.0.0.1",
    "port": 5000
  },
  "groups": {
    "logical-group-name": {
      "pools": {
        "/partition/poolname-01": {
          "green": [
            "/partition/poolmember-node-01:80"
          ],
          "blue": [
            "/partition/poolmember-node-02:80"
          ]
        },
        "/partition/poolname-02": {
          "green": [
            "/partition/poolmember-node-01:80"
          ],
          "blue": [
            "/partition/poolmember-node-02:80"
          ]
        }
      }
    }
  }
}