{
					"f5": {
									"hostname": "192.168.0.100",
									"username": "admin",
									"passwd": "admin"
					},
					"webservice": {
									"address": "127.0.0.1",
									"port": 5000
					},
					"groups": [
					  {
										"name": "archie-sit",
										"pools": [
											{
														"name": "/DMZ/audmzsblsitweb-80-pool",
										        "blue": [
																		"/DMZ/audmzsblsitweb-01:80",
																		"/DMZ/audmzsblsitweb-02:80"
														],
														"green": [
																		"/DMZ/audmzsblsitweb-03:80",
																		"/DMZ/audmzsblsitweb-04:80"
													  ]
											}
										]
						}
					]
}

